@import "fonts"
@import "kito_card"
@import "kito_player"
@import "sm_base"
@import "kito_card_fit"
@import "kito_nav"

.kitotsu-main
  background: white
  width: 100vw
  color: black
  height: 100vh
  overflow-y: scroll
  overflow-x: hidden
  &::-webkit-scrollbar
    display: none

video
  object-fit: cover

.kito-banner
  position: relative


.kito-banner-over
  top: 0
  width: 100% !important
  max-width: 100% !important
  height: 100%
  position: absolute
  padding-top: 3em
  padding-left: 0 !important
  padding-right: 0 !important
  background: linear-gradient(0deg, rgba(25, 27, 38, .32), rgba(25, 27, 38, .72))

.kito-banner-text
  @include font-lora-banner
  margin: 0 auto
  width: max-content
  font-size: 5em

.kito-banner-marquee
  @include font-lora-banner
  font-style: italic
  position: absolute !important
  bottom: .8em
  font-size: 1.5em

.kito-subtitle
  @include font-lora-banner
  color: black
  font-weight: bold
  font-size: 1.5em

.kito-info
  @include font-lora-banner
  margin-bottom: 0
  color: black //rgba(0,212,255,1)
  font-weight: bold
  font-size: 1em
  background-color: #b2dbff
  //border-radius: .5em
  padding: .5em 16em
//box-shadow: 0 0 10px 5px rgba(9,9,121,0.1), 0 0 10px 8px rgba(0,212,255,0.1)

.kito-content
  padding-bottom: 4em
  background-color: #f9f9f9 !important
  padding-top: .5em
  padding-left: 0 !important
  padding-right: 0 !important

.kito-news-container
  box-sizing: border-box
  display: -webkit-box
  /* display: -webkit-flex */
  display: -ms-flexbox
  /* display: flex */
  -webkit-box-flex-wrap: wrap
  /* -webkit-flex-wrap: wrap */
  -ms-flex-wrap: wrap
  /* flex-wrap: wrap */
  width: 100%
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  -webkit-align-items: center
  -webkit-box-align: center
  -ms-flex-align: center
  overflow-x: scroll
  overflow-y: hidden
  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-track
    background-color: darkgrey
  ::-webkit-scrollbar-thumb
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
  scrollbar-width: thin
  scrollbar-color: #6969dd #e0e0e0
.kito-new
  width: 100%
  height: 20em
  position: relative
  background-size: 100% 100%
  background-repeat: no-repeat

.kito-new-over
  top: 0
  left: 0
  width: 100% !important
  max-width: 100% !important
  height: 100%
  position: absolute
  padding-left: 0 !important
  padding-right: 0 !important
  background: linear-gradient(0deg, rgba(25, 27, 38, .32), rgba(25, 27, 38, .72))


.kito-new-title
  @include font-lora-banner
  color: white
  font-size: 2em
  width: max-content

.kito-new-text
  @include font-lora-banner
  color: white
  font-size: 1.5em
  width: 30em

.kito-new-info
  align-items: end
  text-align: justify
  display: flex
  flex-direction: column
  padding: 0 2em

.kito-text
  @include font-lora-banner
  color: black
  font-size: 1em
  width: 30em
  padding: 1em

.kito-img-slider
  width: 20em
  height: 20em
  margin: 0 auto

.kito-img-slider-preview
  width: 4em


.slick-dots
  display: flex !important
  flex-wrap: nowrap
  justify-content: space-evenly
  align-items: center

.slick-arrow
  height: 100%
  width: 91px
  z-index: 99

.slick-prev

  background: rgb(0,185,195)
  background: linear-gradient(90deg, rgba(0,185,195,1) 20%, rgba(3,205,203,0.5942752100840336) 44%, rgba(0,212,255,0.4318102240896359) 73%, rgba(0,212,255,0.01724439775910369) 100%)
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 0px
  border-top-left-radius: 5px
  border-top-right-radius: 0px
  left: 2em

.slick-prev svg
  fill: white
  position: absolute
  left: 0
  top: 40%
.slick-next svg
  fill: white
  position: absolute
  right: 0
  top: 40%

.slick-next
  background: rgb(0,185,195)
  background: linear-gradient(270deg, rgba(0,185,195,1) 20%, rgba(3,205,203,0.5942752100840336) 44%, rgba(0,212,255,0.4318102240896359) 73%, rgba(0,212,255,0.01724439775910369) 100%)
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 5px
  border-top-left-radius: 0px
  border-top-right-radius: 5px
  right: 2em

.slick-next:hover, .slick-next:focus
  background: rgb(0,185,195)
  background: linear-gradient(270deg, rgba(0,185,195,1) 20%, rgba(3,205,203,0.5942752100840336) 44%, rgba(0,212,255,0.4318102240896359) 73%, rgba(0,212,255,0.01724439775910369) 100%)

.slick-prev:hover, .slick-prev:focus
  background: rgb(0,185,195)
  background: linear-gradient(90deg, rgba(0,185,195,1) 20%, rgba(3,205,203,0.5942752100840336) 44%, rgba(0,212,255,0.4318102240896359) 73%, rgba(0,212,255,0.01724439775910369) 100%)

.slick-list
  border-radius: 5px

.slick-prev:before, .slick-next:before
  content: " "

.icon-whatsapp
  fill: #94fc76
  margin-left: .4em

.dailyVerses.bibleVerse
  margin-top: .5em

.dailyVerses.bibleVerse a
  font-weight: bold
