
.kito-btn-player
  background-color: transparent
  border-radius: 16em
  height: 50px
  color: rgba(0, 128, 255, 0.7)
  &:focus
    outline: none

.kito-reproductor
  z-index: 999
  padding: .5em
  box-shadow: 0 0 10px 6px rgba(0,212,255,0.2)
  position: fixed
  bottom: 0
  width: 100vw
  left: 0
  background: white
  color: black
//background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7455357142857143) 35%, rgba(0,212,255,0.639093137254902) 100%)
